.wrapper {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100000;
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
}

.content {
    width: 340px;
    border-radius: 8px;
    background-color: #3d3d3d;
    z-index: 2001;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 120px;
    height: 40px;
    display: inline-block;
    background: 50% / contain no-repeat;
}

.text {
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    word-break: break-word;
    margin: 10px 0 20px 0;
    width: 100%;
    line-height: 2.4rem;
    user-select: none;
}

.desc-company {
    margin-top: 20px;
    margin-bottom: 2px;
}

.btn-close {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 999px;
    background-color: var(--purple-color);
    color: var(--white-color);
    font-size: 1.5rem;

    &:hover {
        background-color: var(--purple-color);
        filter: brightness(0.9);
    }
}
